*{
    margin 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.selected{
    background-color: #EFE6FF;
}

a{
    color: #000;
    text-decoration: none;
}

.comment_preview{
}

#content-wrapper{
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    background: #fff;
    border-top-color: #d6d6d6;
    border-left-color: #d6d6d6;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    padding-top: 35px;
    padding-left: 20px;
}

#grill-title{
    font-size: 15px;
    color: #40e0d0;
    font-weight: bold;
}

#post-list-wrapper{
    margin-top: 30px;
    margin-right: 30px;
}

.list{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
    color:
}

.list:hover{
    background-color: #E6E6FF;
}

.list a:hover{
    text-decoration: underline;
}

.list th, td{

    float: left;
    height: 40px;
    font-size: 14px;
    line-height: 12px;
    padding-top: 14px;
    font-weight: bold;
    color: 
}

#list-header{

    color: #adadad;

}




.list-post td{
    color: #000;
}

#grill-pagination{
    width: 100%;
    height: 19px;
    margin-top: 30px;
    text-align:center;
}

#grill-pagination-number{
    display:inline;
    width: 300px;
    height: 19px;
    text-align:center;
}

#grill-pagination-number li {
    height: 19px;
    width: 15px;
    font-size: 15px;
    line-height: 11px;
    padding-top: 4px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

#grill-pagination-number li a:hover {
    text-decoration:underline;
}

.active{
    background: #333;
    color: #fff;
}

.write{
    width: 100%;
    height: 19px;
    margin-top: 140%;
    display: inline;
}
