.nickname-click{
}

.nickname-click span{
}

.nickname-link{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 93px;
    border-radius: 10px;
    border-width: 3px;
    border: solid #40E0D0;
    margin-left: 5px;
    padding: 1px;
}

.display-block{
    display: inline-block;
}

.nickname-link ul{
    line-height: 110%;
}

.nickname-link ul li{
    margin: 8px;
	font-weight: normal;
	font-size: 12px;
}
