{% load bootstrap %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/board/list.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% endblock %}
{% block js %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/media/js/board/hover.js"></script>
<script type="text/javascript" src="/media/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/media/js/board/board.js"></script>
<script type="text/javascript" src="/media/js/board/upload_handling.js"></script>
<script>
  jQuery(document).ready(function() {
    jQuery("span.timeago").timeago();
  });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div>
                    <label class="col-md-5">
                        {% if post.adult %}
                        <label style="color:red">+19</label>
                        {% endif %}
                        Title:{{ post.title }}
                    </label>
                    <div class="dropdown col-md-3">
                        {% if post.is_anonymous %}
                        {{ post.username }}
                        {% else %}
                        <a class="dropdown-toggle" id="post_username" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ post.username }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="post_username">
                            <li><a href="/session/message/send/?to={{ post.username }}">Send message</a></li>
                            <li><a href="#">Block</a></li>
                        </ul>
                        {% endif %}
                    </div>
                    <span class="col-md-2">Board:{{post.board}}</span>
                    <span class="col-md-2">Category:{{post.category}}</span>

                    {% if board_post_trace.is_trace %}
                    <span class="glyphicon glyphicon-star pull-right trace tracing"
                        id="trace-{{post.id}}"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-star-empty pull-right trace"
                        id="trace-{{post.id}}"></span>
                    {% endif %}
                    {% if board_post_trace.is_notified %}
                    <span class="glyphicon glyphicon-bookmark pull-right alarm"
                        id="alarm-{{post.id}}"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-bookmark pull-right alarm"
                        id="alarm-{{post.id}}" style="color:white;"></span>
                    {% endif %}
                </div>
                <div>
                    <span class="col-md-10">{{post.created_time}}</span>
                    <span id="vote_{{post.content_id}}">추천 +{{post.vote.up}}/-{{post.vote.down}}</span>
                </div>
            </div>
            <div class="panel-body">
                {{post.content | safe}}
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6"></div>
                        {% if not post.deleted %}
                        <div class="dropdown col-md-1">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Report
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a href="javascript:;" class="report" id="report_{{post.content_id}}">신고</a></li>
                                    <li><a href="javascript:;" class="vote adult" id="adult_{{post.content_id}}">가버렷</a></li>
                                    <li><a href="javascript:;" class="vote political" id="political_{{post.content_id}}">보내야한다</a></li>
                            </ul>
                        </div>
                        {% if post.vote.is_up %}
                        <button class="btn btn-warning col-md-1 vote up" id="up_{{post.content_id}}">Up</button>
                        {% else %}
                        <button class="btn btn-success col-md-1 vote up" id="up_{{post.content_id}}">Up</button>
                        {% endif %}
                        {% if post.vote.is_down %}
                        <button class="btn btn-warning col-md-1 vote down" id="down_{{post.content_id}}">Down</button>
                        {%else %}
                         <button class="btn btn-danger col-md-1 vote down" id="down_{{post.content_id}}">Down</button>
                         {% endif %}
                         <a class="btn btn-info col-md-1" href="./post-log/?board={{post.board_id}}">Log</a>
                        {% if post.return %}			
                        <a class="btn btn-info col-md-1" href="./modify/?board={{post.board_id}}">Modify</a>
                        <button class="btn btn-normal col-md-1 delete" id="delete_{{post.content_id}}">Delete</button>
                        {% endif %}
                        {% endif %}		
					</div>
                </div>
            </div>
        </div>
        {% for comment in comment_list %}
        {% if comment.best_comment %}
        <div class="panel panel-danger">
        {% else %}
        <div class="panel panel-success">
        {% endif %}
            <div class="panel-heading">
                <div>
                    <span class="col-md-3" id=comment_order_{{comment.order}}> {{ comment.order }}</span>
                    <div class="dropdown col-md-9">
                        {% if comment.is_anonymous %}
                        {{ comment.username }}
                        {% else %}
                        <a class="dropdown-toggle" id="comment_username_{{ comment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ comment.username }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="comment_username_{{ comment.id }}">
                            <li><a href="/session/message/send/?to={{ comment.username }}">Send message</a></li>
                            <li><a href="#">Block</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div> 
                    <span class="col-md-10">{{comment.created_time}}</span>
                    <span id="vote_{{comment.content_id}}">추천 +{{comment.vote.up}}/-{{comment.vote.down}}</span>
                </div>
            </div>
            <div class="panel-body">
                <div id="comment_content{{ comment.order }}">
                    <!-- id가 comment.id였으나 comment.order로 바꿈-->
                    <div id="comment{{comment.order}}">{{ comment.content | safe }}</div>
                    <div class="col-md-12">
						<div class="row">
						    <div class="col-md-7"></div>
                            {% if not comment.deleted %}
                            <div class="dropdown col-md-1">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Report
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="#" class="report"
                                            id="report_{{comment.content_id}}">신고</a></li>
                                        <li><a href="#" class="vote adult" id="adult_{{comment.content_id}}">가버렷</a></li>
                                        <li><a href="#" class="vote political" id="political_{{comment.content_id}}">보내야한다</a></li>
                                </ul>
                            </div>
                            {% if comment.vote.is_up %}
                            <button class="btn btn-warning col-md-1 vote up" id="up_{{comment.content_id}}">Up</button>
                            {% else %}
                            <button class="btn btn-success col-md-1 vote up" id="up_{{comment.content_id}}">Up</button>
                            {% endif %}
                            {% if comment.vote.is_down %}
                            <button class="btn btn-warning col-md-1 vote down" id="down_{{comment.content_id}}">Down</button>
                            {%else %}
                            <button class="btn btn-danger col-md-1 vote down" id="down_{{comment.content_id}}">Down</button>
                            {% endif %}
                            <a class="btn btn-info col-md-1 comment" id="log_{{comment.content_id}}" href="../{{comment.id}}/comment-log/?board={{post.board_id}}">Log</a>
                            {% if comment.return %}		
                            <button type="submit" class="btn btn-info col-md-1 comment" id="btn-{{comment.order}}-{{comment.id}}">Modify</button>
                            <button class="btn btn-normal col-md-1 delete" id="delete_{{comment.content_id}}">Delete</button>
                            {% else %}
                            <div class="col-md-2"></div>
                            {% endif %}
                            {% endif %}		
						</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if not post.deleted %}
        <div>
            <form action="./comment/{{querystring}}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="hidden" name="board_post_id" value="{{ post.id }}">
                <div class="form-group">
                    <label>Anonymous</label>
                    <input type="checkbox" name="is_anonymous">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="content"></textarea>
                    <div id="attachment_handling">
                        {{ attachment_form.management_form }}
                        {% for form in attachment_form.forms %}
                        <div class="attachment">
                            {{ form|bootstrap }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-normal col-md-1 col-md-offset-11">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>   
</div>

{% include "board/list.html" %}
{% include "board/modal.html" %}
{% endblock %}


