{% extends "base.html" %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".category_{{current_board.board_id|default:board_list.0.board_id}}").removeAttr("style");
        $(".board").click(function(){
            var bid = $(this).attr("id");
            var bname = $(this).text() + " <span class='caret'></span>";
            $("#board_id").attr("value", bid);
            $("#dropdownMenu1").html(bname);
            $("#dropdownMenu2").html("------<div class='caret'></div>");
            $("#cateogry_name").attr("value","");
            $(".category").css("display", "none");
            $(".category_"+bid).removeAttr("style");
        });
        $(".category").click(function(){
            var cname = $(this).attr("id");
            $("#category_name").attr("value",cname)
            $("#dropdownMenu2").html(cname+'<span class="caret"></span>');
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <p>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div>
                        <label class="col-md-5">
                            Title: {{post.0}}
                        </labdel>
                    </div>
                    <div>
                        <span class="col-md-10">{{post.1}}</span>
                    </div>
                </div>
                <div class="panel-body">
                    {% autoescape off %}{{post.2}}{% endautoescape %}
                </div>
            </div>
        </p>
        <p>
        <span class="col-md-10">위 글은 총 {{modify_log|length}}번 수정되었습니다. (최근 수정된 내용 순서대로 보여집니다.)</span>
        <p>
        {% for log in modify_log %}
        <p>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div>
                        <label class="col-md-5">
                            Title: {{log.0}}
                        </label>
                    </div>
                    <div>
                        <span class="col-md-10">Modified Time: {{log.1}}</span>
                    </div>
                </div>
                <div class="panel-body">
                    {% autoescape off %}{{log.2}}{% endautoescape %}
                </div>
            </div>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
