{% extends "base.html" %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".category_{{Cur_board.id|default:'1'}}").removeAttr("style");
        $(".board").click(function(){
            var bid = $(this).attr("id");
            var bname = $(this).text() + " <span class='caret'></span>";
            $("#board_id").attr("value", bid);
            $("#dropdownMenu1").html(bname);
            $("#dropdownMenu2").html("Plz Select Category<div class='caret'></div>");
            $("#cateogry_name").attr("value","");
            $(".category").css("display", "none");
            $(".category_"+bid).removeAttr("style");
        });
        $(".category").click(function(){
            var cname = $(this).attr("id");
            $("#category_name").attr("value",cname)
            $("#dropdownMenu2").html(cname+'<span class="caret"></span>');
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        {%csrf_token%}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
		{% endif %}
		{% if post.new %}
		<div class="form-group">
			<label>Notice</label>
			<input type="checkbox" name="notice">
		</div>
        <div class="form-group">
            <label>Anonymous</label>
            <input type="checkbox" name="anonymous">
        </div>
        {% endif %}
        <div class="form-group">
            <label>Adult</label>
            <input type="checkbox" name="adult">
		</div>		
        <div class="form-group">            
            <input type="text" class="form-control" name="title" value="{{post.title}}" placeholder="title">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="board_id" name="board" value="{{ Cur_board.id}}">
            <input type="hidden" class="form-control" id="category_name" name="category">
            <ul class="nav nav-pills">
                <li>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{Cur_board.name}}
                    <span class="caret"></span>
                 </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% for board in board_list %}
                    <li><a href="javascript:;" class="board" id="{{board.board_id}}">{{ board.board_name }}</a></li>
                    {% endfor %}
                </ul>
                </li>
                <li>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Plz select Category
                    <span class="caret"></span>
                 </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for category in Categories %}
                    <li><a href="javascript:;" class="category category_{{category.board.id}}" id="{{category.name}}" style="display: none;">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>본문</label>
            <textarea class="form-control" rows="15" name="content">{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-normal">Submit</button>
    </form>
</div>
{% endblock %}

