{% extends "base.html" %}
{% block content %}
{% block board_read %}
{% endblock %}
<div class="container">
    <div class="col-md-12">
        <table style="width:100%">
            <thead>
                <tr>
                    <th width="20"></th>
                    <th width="150">user</th>
                    <th width="150">
                        <div class="dropdown">                  
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{current_board.board_name|default:"All"}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href=/board/all/>All</a></li>
                                {% for board in board_list %}
                                <li><a href="/board/{{board.board_url}}">{{ board.board_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th width="350">title</th>
                    <th width="100">+/-</th>
                    <th width="150">date</th>
                </tr>
            </thead>
            <tbody>
                {% for pst in post_list %}
                    <tr>
                        <td width="20">{{pst.is_read}}</td>
                        <td width="150">{{pst.username}}</td>
                        <td width="150"><a href="/board/{{pst.board.board_url}}/">{{pst.board.board_name}}</a></td>
                        {%if pst.is_notice%}
                        <td width="350"><a href="/board/{{current_board.board_url}}/{{pst.post_id}}/{{querystring}}"><label style="color :black">Notice:{{pst.title}}</label></a></td>
                        {%else%}
                        <td width="350"><a href="/board/{{current_board.board_url}}/{{pst.post_id}}/{{querystring}}">{{pst.title}} [{{pst.comment_count}}]</a></td>
                        {%endif%}
                        <td width="100">+{{pst.vote.up}}/-{{pst.vote.down}}</td>
                        <td width="150">{{pst.created_time}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-warn">
            {% if is_adult %}
            <a href="/board/{{current_board.board_url}}/{{querystring}}&adult_filter=false" id='2'>See Adult</a>
            {% else %}
            <a href="/board/{{current_board.board_url}}/{{querystirng}}&adult_filter=true" id='1'>Filter Adult Post</a>
            {% endif %}
        </button>
        <a class="btn btn-info" href="/board/{{current_board.board_url}}/post/">Write</a>
        <div class="paginator">
            {%for page in paginator%}
            <a href="/board/{{current_board.board_url}}/?page={{page.url}}">{{page.page}} </a>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}


