<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load notifications_tags %}
        {% notifications_unread as unread_count %}
        <title>쪽지 보내기</title>
        <link rel="stylesheet" type="text/css" href="/media/css/board/message_popup.css">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/media/js/base.js"></script>
    </head>
    <body>
        <div id="title-wrapper">
            <div id="title">
                <h1 id="sparcs-title">
                    SPARCS SSO
                </h1>
            </div>
		</div>
        <div class="container">
            <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>to</label>
                <input type="text" class="form-control" name="nickname" placeholder="nickname" value={{ to }}>
            </div>
            <div class="form-group">
                <label>Content</label>
                <input type="text" class="form-control" name="content" placeholder="hello!">
            </div>
            <button type="submit" class="btn btn-default">Send Message</button>
            </form>
            {{ error }}
            {{ success }}
        </div>
    </body>
</html>
