{% extends "board/board_list.html" %}
{% block js %}
{% block board_modify_log %}
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-success">
            {% for log in modify_log %}
            <p>
            <div class="panel-heading">
                <div>
                    <label class="col-md-5">
                        Title: {{log.0}}
                    </label>
                </div>
                <div>
                    <span class="col-md-10">{{log.1}}</span>
                </div>
                <div class="panel-body">
                    {% autoescape off %}{{log.2}}{% endautoescape %}
                </div>
            </div>
            {% endfor %}
        </div>   
    </div>
</div>
{% endblock %}
{% endblock %}
