*{
    margin 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

html{
    min-width: 1200px;
}

.list-notice:hover, .list-post:hover{
    background-color: #E6E6FF;
}

.selected{
    background-color: #EFE6FF;
}

a{
    color: #000;
    text-decoration: none;
}

.comment_preview{
}

#content-wrapper{
    width: calc(100% - 200px);
    float: left;
    background: #fff;
    border-top-color: #d6d6d6;
    border-left-color: #d6d6d6;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    padding-top: 35px;
    padding-left: 20px;
    float: left;
}

#board-title{
    font-size: 13px;
    color: #000;
}

#post-list-wrapper{
    margin-top: 30px;
    margin-right: 30px;
}

.list{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
}

.list-notice{
    background: #f2f2f2;
}

.list th, td{
    float: left;
    height: 40px;
    font-size: 12px;
    line-height: 12px;
    color: #adadad;
    padding-top: 14px;
}

.list-notice td{
    color: #000;
}

#post-vote-up{
    color: #40e0d0;
    display: inline;
}

#post-vote-down{
    color: #ff4500;
    display: inline;
}

.list-post td{
    color: #000;
}

#board-pagination{
    float: left;
    width: 100%;
    height: 21px;
    margin-top: 30px;
    padding-right: 30px;
}

#board-pagination-number{
    width: 300px;
    height: 21px;
    float: left;
}

#board-pagination-number li{
    height: 21px;
    width: 15px;
    font-size: 11px;
    line-height: 11px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.active{
    background: #333;
    color: #fff;
}

#board-search{
    width: 200px;
    height: 21px;
    float: right;
    border-radius: 4px;
    border: solid 1px;
    padding: 1px;
    outline: none;
    background: #fff;
    font-size: 12px;
}
/*
#board-search:focus{
    background-color: #fff;
}
*/

.board-write-btn{
    font-family: Arial;
    width: 50px;
    height: 21px;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0px 0px 6px;
    margin-left: 5px;
    color: #fff;
    background: #000;
    text-decoration: none;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.list-header-title{
    width: calc(100% - 475px);
}

.list-title{
    width: calc(100% - 480px);
}

.nickname-link{
    display : none;
    position : relative;
    z-index : 0;
    background-color : white;
    border-radius : 10px;
    border-width : 3px;
    border : solid #40E0D0;
    margin-top : 5px;
    margin-right : 100px;
    padding-top : 2px;
    padding-bottom : 2px;
}

.nickname-link-toggle{
    display: block;
}

.nickname-link ul{
    z-index : 1;
    color : #40E0D0;
}

.nickname-link ul li{
    margin: 10px;
}

.nickname_td span{
}

.nickname_td-toggle{
    color : #40E0D0;
}
