#content-wrapper{
    width: 1087px;
    float: left;
    background: #fafafa;
    padding-top: 35px;
    padding-left: 100px;
    margin-bottom: 100px;
}
#total-gallery-wrapper{
    width: 100%;
    height: 100%;
    float: left;
    margin: -12px 0px 0px -12px;
}
#total-gallery-wrapper li{
    display: inline;
    float: left;
    width: 256px;
    height: 256px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 9px;
    border: none;
    position: relative;
}
.image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.hovered{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    padding: 10px;
}
.image:hover .hovered{
    display: block;
}
.hovered span{
    font-size: 12px;
    color: #f2f2f2;
}
.title{
    padding: 80px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.vote span{
    display: inline-block;
}
#board-pagination{
    float: left;
    width: 100%;
    height: 21px;
    margin-top: 50px;
    padding-right: 140px;
    padding-left: 18px;
}
#board-pagination-number{
    width: 300px;
    height: 21px;
    float: left;
}
#board-pagination-number li{
    height: 21px;
    width: 15px;
    font-size: 11px;
    line-height: 11px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}
.active{
    background: #333;
    color: #fff;
}
#board-search{
    width: 200px;
    height: 21px;
    float: right;
    border-radius: 4px;
    border: solid 1px;
    padding: 1px;
    outline: none;
    background: #fff;
    font-size: 12px;
}
/*
#board-search:focus{
    background-color: #fff;
}
*/
.board-write-btn{
    font-family: Arial;
    width: 50px;
    height: 21px;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0px 0px 6px;
    margin-left: 5px;
    color: #fff;
    background: #000;
    text-decoration: none;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

