{% extends "base.html" %}
{% load bootstrap %}
{% block js %}
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
        	<div class="col-xs-4">
				{{ channel_form.kor_name|bootstrap }}
			</div>
			<div class="col-xs-4">
				{{ channel_form.eng_name|bootstrap }}
            </div>
            <div class="col-xs-4"> 
                {{ channel_form.url|bootstrap }}
            </div>
		</div>
        <div id="description">
        	{{ channel_form.description|bootstrap }}
		</div>
		<div id="attachment">
			{{ channel_form.thumbnail|bootstrap }}
		</div>
		<div id="default_post_thumbnail">
			{{ channel_form.default_post_thumbnail|bootstrap }}
		</div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
