{% extends "base.html" %}
{% load bootstrap %}
{% block js %}
<script>
$(document).ready(function(){
var selected_channel = $( "#id_channel option:selected");
});
</script>
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title">
            {{ post_form.title|bootstrap }}
        </div>
        <div id="selecting" class="col-xs-12" style="padding-left: 0;">
            <div id="channel" class="col-xs-3" style="padding-left: 0;">
            </div>
            <div class="select">
                    <div id="adult" class="col-xs-2">
                        {{ content_form.is_adult|bootstrap }}
                    </div>
                    {% if post_form.is_notice %}
                    <div id="notice" class="col-xs-2"> 
                        {{ post_form.is_notice|bootstrap }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="content">
                {{ content_form.content|bootstrap }}
            </div>
            <div id="attachment">
                {{ attachment_form.file|bootstrap }}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
