{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/channel/list.css"> 
{% endblock %}
{% block content %}
<div class="container">
<table class="table post-list" width=700>
    <tr class="list" id="list-header">
        <td width=90><p align=center>User</p></td>
        <td width=320 class="title"><p>Title<p></td>
    </tr>
    <ul>
            {% for channel in channel_list %}
            <tr class="list list-post" id="channel-row-{{channel.url}}"}>
                <td width=90><p align=center>{{channel.admin.nickname}}</p></td>

                <td width=320 class="title title-post" id="channel-title-{{channel.url}}"
                    id><a href="/channel/{{channel.url}}/">{{channel.kor_name}}</a></td>
            </tr>
            {% endfor %}
        </ul>
    </table>
</div>
{% endblock %}
