{% extends "base.html" %}

{% block js %}
<script type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="container" id="post-container">
	Channel Name: {{ channel.name }}
    <div class="container" id="post-title-container">
        {{ channel_post.title }} (별점 : {{ channel_post.channel_content.get_vote }}) 
    </div>
	<div class="container" id="post-content-container">
		{{ content | linebreaksbr }}
	</div>
</div>
<div class="container buttons">
	<a class="btn btn-default" href="../write">Write</a>
	<a class="btn btn-primary" href="edit">Edit</a>
    <a class="btn btn-danger" href="delete">Delete</a>
    <a class="btn btn-default" href="./rating/10">Give Ten To This Post</a>
    <a class="btn btn-danger" href="./rating/1">Give One To This Post</a>
</div>
{% endblock %}
