{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/channel/list.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/channel/hover.js"></script>
<script type="text/javascript" src="/media/js/jquery.timeago.js"></script>
<script>
    $(document).ready(function(){
		$("span.timeago").timeago();
		var post_order = {{ post.order }};
		var csrf_token = $("input[name=csrfmiddlewaretoken]").val();

		$(".list-post[data-order=" + post_order + "]").addClass('selected');
		$(".list-notice[data-order=" + post_order + "]").addClass('selected');
		$(".numtag").each(function() { 
			order = $(this).data("order");
			$(this).attr("href", "./?cpage=" + Math.ceil(order / 5) + "#comment-" + order);
		});

		var ajax_mark19 = function(obj, url) {
			$.ajax({
				url: url,
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					alert("19금 신고되었습니다.");
				},
				error: function(data) {
					alert("이미 신고한 항목입니다.");
				}
			});
			obj.attr("disabled", "disabled");
		};

		$(".post-mark19").click(function() {
			ajax_mark19($(this), "./mark19/");
		});

		$(".comment-mark19").click(function() {
			ajax_mark19($(this), "./" + $(this).data("order") + "/mark19/");
		});

		var ajax_delete = function(url) {
			var result = confirm("정말 삭제하시겠습니까?");
			if(result != true) return;

			$.ajax({
				url: url,
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					location.replace("./");
				}
			});
		};

		$(".post-delete").click(function() {
			ajax_delete("./delete/");
		});
		
		$(".comment-delete").click(function() {
			ajax_delete("./" + $(this).data("order") + "/delete/");
		});

		$(".comment-modify").click(function() {
			var comment_order = $(this).data("order");
			var comment_panel = $(this).parent().parent();
			var is_adult = comment_panel.parent().find("label.adult-mark").length > 0 ? "checked" : "";
			var content = $(".comment-body[data-order=" + comment_order + "]").html().replace(/<br\s*[\/]?>/gi,'');
			console.log(content);
			content = content.replace(/<a class="numtag"[^\>]*>(@\d+)<\/a>/gi, '$1');
			console.log(content);
			var comment_html = "<form action='./" + comment_order + "/modify/{{querystring}}' method='POST'>" +
                "{% csrf_token %}" +
                "<div class='form-group'>" +
					"<textarea class='form-control' rows='2' name='content'>" + content + "</textarea>" + 
					"<div class='checkbox pull-right'><label><input type='checkbox' name='is_adult' " + is_adult + "> 성인 댓글</label></div>" + 
                    "<div class='col-md-12'>" +
						"<button type='submit' class='btn btn-info col-md-1 col-md-offset-11'>완료</button></div></div></form>";
			comment_panel.html(comment_html);
		});
		
		var toggle = function(obj, b, toClass, fromClass) {
			if (!b) {
				t = toClass; toClass = fromClass; fromClass = t;
			}

            obj.removeClass(toClass);
            obj.addClass(fromClass);
        };

        var post_vote = function() {
            var but_up = $(".post-vote-up");
            var result_up = $(".post-vote-up-result");
            $.ajax({
                url: "./vote/",
                type: "POST",
                data: {csrfmiddlewaretoken: csrf_token},
                success: function(data) {
                    toggle(but_up, data.up, "btn-success", "btn-warning");
                    result_up.html(data.tup);
                }
            });
        }

		var comment_vote = function(order, up) {
			var but_up = $(".comment-vote-up[data-order=" + order + "]");
			var but_down = $(".comment-vote-down[data-order=" + order + "]");
			var result_up = $(".comment-vote-up-result[data-order=" + order + "]");
			var result_down = $(".comment-vote-down-result[data-order=" + order + "]");
			$.ajax({
				url: "./" + order + "/vote/",
				type: "POST",
				data: {csrfmiddlewaretoken: csrf_token, up: up},
				success: function(data) {
					toggle(but_up, data.up, "btn-success", "btn-warning");
					toggle(but_down, data.down, "btn-success", "btn-warning");
					result_up.html(data.tup);
					result_down.html(data.tdown);
				}
			});
		};

        $(".post-vote-up").click(function() {
            post_vote($(this));
        });

		$(".comment-vote-up").click(function() {
			comment_vote($(this).data('order'), '0');
		});

		$(".comment-vote-down").click(function() {
			comment_vote($(this).data('order'), '1');
		});
		
		$(".post-report").click(function(){
			$("#report-form").attr('action', './report/');
			$("#modal-report").modal();
		});

		$(".comment-report").click(function(){
			$("#report-form").attr('action', './' + $(this).data('order') + '/report/');
			$("#modal-report").modal();
		});

		$("#id_content").keyup(function(){
			if ($(this).val() == '')
				$(".report-submit").prop("disabled", true);
			else
				$(".report-submit").prop("disabled", false);
		});

        var frm = $("#report-form");
        frm.submit(function(){
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(data){
					alert('신고되었습니다!');
                    $("#modal-report").modal('hide');
					$("#id_content").val('');
					$("#id_reason").val('ETC');
					$(".report-submit").prop("disabled", false);
                }
			});
			return false;
        });
	});
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-success">
			<div class="panel-heading row" style="margin-left:0;margin-right:0">
            	<div class="col-md-5">
                	{% if post.is_adult %}
                	<label style="color:red">+19</label>
                	{% endif %}
                	Title:{{ post.title }}
                </div>
                <div class="col-md-2">User:{{ post.username }}</div>
                <div class="col-md-2">Vote: +<span class="post-vote-up-result">{{ post.vote_up }}</span></div>
                <div class="col-md-3">{{post.created_time}}</div>
			</div>
            <div class="panel-body">
                {{post.content | safe}}
                <div class="row">
					<div class="col-md-5"></div>
					{% if not post.deleted %}
					<button class="btn btn-warning col-md-1 post-mark19" {% if post.mark19 %}disabled{% endif %}>Mark19</button>
					<button class="btn btn-warning col-md-1 post-report">Report</button>
                    <button class="btn btn-{% if post.vote.is_up %}warning{% else %}success{% endif %} col-md-1 post-vote-up">Up</button>
                    <a class="btn btn-info col-md-1" href="./log/">Log</a>
                    {% if post.auth %}
                    <a class="btn btn-info col-md-1" href="./modify/">Modify</a>
					<button class="btn btn-danger col-md-1 post-delete">Delete</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% for comment in comment_list %}
        {% if comment.best_comment %}
        <div class="panel panel-danger">
        {% else %}
        <div class="panel panel-success">
        {% endif %}
			<div class="panel-heading row" id="comment-{{ comment.order }}" style="margin-left:0;margin-right:0">	
				<div class="col-md-5">
					<span>{{ comment.order }}</span>
                	{% if comment.is_adult %}
                	<label class="adult-mark" style="color:red">+19</label>
                	{% endif %}
                </div>
                <div class="col-md-2">User:{{ comment.username }}</div>
                <div class="col-md-2">Vote: +<span class="comment-vote-up-result" data-order="{{ comment.order }}">{{ comment.vote_up }}</span>/-<span class="comment-vote-down-result" data-order="{{ comment.order }}">{{ comment.vote_down }}</span></div>
                <div class="col-md-3">{{comment.created_time}}</div>
			</div>
			<div class="panel-body">
				<div class="comment-body" data-order="{{ comment.order }}">{{comment.content | safe}}</div>
                <div class="row">
                	<div class="col-md-5"></div>
					{% if not comment.deleted %}
					<button class="btn btn-warning col-md-1 comment-mark19" data-order="{{ comment.order }}" {% if comment.mark19 %}disabled{% endif %}>Mark19</button>
					<button class="btn btn-warning col-md-1 comment-report" data-order="{{ comment.order }}">Report</button>
					<button class="btn btn-{% if comment.vote.is_up %}warning{% else %}success{% endif %} col-md-1 comment-vote-up" data-order="{{ comment.order }}">Up</button>
					<button class="btn btn-{% if comment.vote.is_down %}warning{% else %}success{% endif %} col-md-1 comment-vote-down" data-order="{{ comment.order }}">Down</button>
					<a class="btn btn-info col-md-1" href="./{{ comment.order }}/log/">Log</a>
                    {% if comment.auth %}
					<button class="btn btn-info col-md-1 comment-modify" data-order="{{ comment.order }}">Modify</button>
					<button class="btn btn-danger col-md-1 comment-delete" data-order="{{ comment.order }}">Delete</button>
                    {% endif %}
                    {% endif %}
                </div>
			</div>
		</div>
		{% endfor %}
		<div class="text-center">
        	<ul class="pagination pagination-sm">
            	{% for c_page in c_pages %}
            	{% if c_page == current_c_page %}
            	<li class="active"><a href="./?cpage={{c_page}}">{{c_page}}</a></li>
            	{% else %}
            	<li><a href="./?cpage={{c_page}}">{{c_page}}</a></li>
            	{% endif %}
            	{% endfor %}
        	</ul>
    	</div>

		{% if not post.deleted %}
        <div>
        	<form action="./write/{{querystring}}" method="POST">
            	{% csrf_token %}
                <div class="form-group">
					<textarea class="form-control" rows="3" name="content"></textarea>
					<div class="checkbox pull-right">
						<label>
							<input type="checkbox" name="is_adult"> 성인 댓글
						</label>
					</div>
                </div>
                <button type="submit" class="btn btn-normal col-md-1 col-md-offset-11">Submit</button>
           	</form>
        </div>
        {% endif %}
    </div>   
</div>

{% include "channel/list_core.html" %}
{% include "channel/modal.html" %}
{% endblock %}
