{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/channel/list.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/media/js/channel/hover.js"></script>
<script type="text/javascript" src="/media/js/jquery.timeago.js"></script>
<script>
    $(document).ready(function(){
		$("span.timeago").timeago();
		var post_order = {{ post.order }};
		var csrf_token = $("input[name=csrfmiddlewaretoken]").val();

		$(".list-post[data-order=" + post_order + "]").addClass('selected');
		$(".list-notice[data-order=" + post_order + "]").addClass('selected');

		$(".post-mark19").click(function() {
			$.ajax({
				url: "./mark19/",
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					alert("19금 신고되었습니다.");
				},
				error: function(data) {
					alert("이미 신고한 항목입니다.");
				}
			});
			$(this).attr("disabled", "disabled");
		});
		
		$(".comment-mark19").click(function() {
			$.ajax({
				url: "./" + $(this).data("order") + "/mark19/",
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					alert("19금 신고되었습니다.");
				},
				error: function(data) {
					alert("이미 신고한 항목입니다.");
				}
			});
			$(this).attr("disabled", "disabled");
		});

		$(".post-delete").click(function() {
			var result = confirm("이 게시글을 정말 삭제하시겠습니까?");
			if(result != true) return;

			$.ajax({
				url: "./delete/",
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					location.replace("./");
				}
			});
		});
		
		$(".comment-delete").click(function() {
			var result = confirm("이 댓글을 정말 삭제하시겠습니까?");
			if(result != true) return;

			$.ajax({
				url: "./" + $(this).data("order") + "/delete/",
				type: "POST",
				data: { csrfmiddlewaretoken: csrf_token },
				success: function(data) {
					location.replace("./");
				}
			});
		});

		$(".comment-modify").click(function() {
			var comment_id = $(this).data("order");
			var comment_panel = $(this).parent().parent();
			var content = $(".comment-body[data-order=" + comment_id + "]").html().replace(/<br\s*[\/]?>/gi,'\n');
            var comment_html = "<form action='../" + channel_comment_id + "/modify/{{querystring}}' method='POST'>"+
                "{% csrf_token %}"+
                "<input type='hidden' name='channel_comment_id' value=" + channel_comment_id + ">"+ 
                "<input type='hidden' name='channel_post_id' value={{post.id}}>"+
                "<div class='form-group'>"+
                    "<textarea class='form-control' rows='2' name='content'>"+
                        content+
                        "</textarea>"+
                    "<div class='col-md-12'>"+
                        "<button type='submit' class='btn btn-info col-md-1 col-md-offset-11'>"+
                            "완료"+
                            "</button></div></div></form>";
        });
        $(".vote").click(function() {
            var vote_id = $(this).attr("id").split('_'); 
            var vote_up = $("#up_"+vote_id[1]);
            var vote_down = $("#down_"+vote_id[1]);
            console.log(vote_id[0] + vote_id[1]);
            $.ajax(
            {
                url : "vote/",
                type : "POST",
                data : { vote_type : vote_id[0], vote_id : vote_id[1], csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},
                dataType : 'json',
                success : function(data){
                    if(data.response == 'success'){
                        $("#vote_"+vote_id[1]).html("추천 +"+data.vote.up+"/-"+data.vote.down);
                        if(data.cancel == 'no' || data.cancel == 'yes')
                        {
                            toggle(vote_up, 'btn-warning', 'btn-success');
                            toggle(vote_down, 'btn-warning', 'btn-danger');
                            if(vote_id[0] == 'up' && data.cancel == 'no') toggle(vote_up, 'btn-success', 'btn-warning');
                            if(vote_id[0] == 'down' && data.cancel == 'no') toggle(vote_down, 'btn-danger', 'btn-warning');
                        }
                        alert(data.message);
                    }
                    else{
                        alert('Failed');
                    }
                }
            });
        });
        $(".delete").click(function() {
            var yes=confirm("Do yo REALLY want to delete?");
            if(yes == true){
                var delete_uid=$(this).attr("id").slice(7);
                $.ajax({
                    url: "delete/",
                    type : "POST",
                    data:{id: delete_uid, csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},
                    success: function(data){
                        console.log(data);
                        location.reload();
                    }
                });
                return true;
            }
            else{
                return false;
            }
        });
        function toggle(obj,toclass,fromclass) {
            if(obj.hasClass(toclass)){
                obj.removeClass(toclass);
                obj.addClass(fromclass);
            }
        }
        $(".report_submit").click(function() {
            var report_reason = $("#report_reason").val()
            var report_content = $("#report_content").val()
            $.ajax({
                url : "report/",
                type : "POST",
                data : { id : report_uid, report_reason : report_reason, report_content : report_content,csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},
                success : function(data){
                    alert(data);
                }
            });
            doOverlayClose();
        });
        $(".reason").click(function(){
            var bid = $(this).attr("id");
            var bname = $(this).text() + " <span class='caret'></span>";
            $("#report_reason").attr("value", bid);
            $("#report_reason_dropdown").html(bname);
        });
        $(".report").click(function(){
            $("#modal-report").modal();
            var content_id = $(this).attr('id').split('_')[1];
            $("#content_id").attr("value", content_id);
        });
        var frm = $("#form_report");
        frm.submit(function(){
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(data){
                    if (data.message != 'Invalid form'){
                        alert(data.message)
                        $("#id_content").val('');
                        $("#id_reason").val('기타');
                        $("#modal-report").modal('hide');
                    }
                    else{
                        alert(data.message)
                    }
                }
            });
            return false
        });
	});
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-success">
			<div class="panel-heading row" style="margin-left:0;margin-right:0">
            	<div class="col-md-5">
                	{% if post.is_adult %}
                	<label style="color:red">+19</label>
                	{% endif %}
                	Title:{{ post.title }}
                </div>
                <div class="col-md-2">User:{{ post.username }}</div>
				<div class="col-md-2">Rating: {{ post.rating }}</div>
                <div class="col-md-3">{{post.created_time}}</div>
			</div>
            <div class="panel-body">
                {{post.content | safe}}
                <div class="row">
                	<div class="col-md-7"></div>
					{% if not post.deleted %}
					<button class="btn btn-warning col-md-1 post-mark19">Mark19</button>
					<button class="btn btn-warning col-md-1 post-report">Report</button>
                    <a class="btn btn-info col-md-1" href="./log/">Log</a>
                    {% if post.auth %}
                    <a class="btn btn-info col-md-1" href="./modify/">Modify</a>
					<button class="btn btn-danger col-md-1 post-delete">Delete</button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% for comment in comment_list %}
        {% if comment.best_comment %}
        <div class="panel panel-danger">
        {% else %}
        <div class="panel panel-success">
        {% endif %}
        	<div class="panel-heading row" style="margin-left:0;margin-right:0">	
				<div class="col-md-5">
                	{% if comment.is_adult %}
                	<label style="color:red">+19</label>
                	{% endif %}
					<span>{{ comment.order }}
                </div>
                <div class="col-md-2">User:{{ comment.username }}</div>
				<div class="col-md-2">Vote: +{{ comment.vote_up }}/-{{ comment.vote_down }}</div>
                <div class="col-md-3">{{comment.created_time}}</div>
			</div>
			<div class="panel-body">
				<div class="comment-body" data-order="{{ comment.order }}">
					{{comment.content | safe}}
				</div>
                <div class="row">
                	<div class="col-md-5"></div>
					{% if not comment.deleted %}
					<button class="btn btn-warning col-md-1 comment-mark19" data-order="{{ comment.order }}">Mark19</button>
					<button class="btn btn-warning col-md-1 comment-report" data-order="{{ comment.order }}">Report</button>
					<button class="btn btn-{% if comment.vote.is_up %}warning{% else %}success{% endif %} col-md-1 comment-vote-up" data-order="{{ comment.order }}">Up</button>
					<button class="btn btn-{% if comment.vote.is_down %}warning{% else %}success{% endif %} col-md-1 comment-vote-down" data-order="{{ comment.order }}">Down</button>
					<a class="btn btn-info col-md-1" href="./{{ comment.order }}/log/">Log</a>
                    {% if post.auth %}
					<button class="btn btn-info col-md-1 comment-modify" data-order="{{ comment.order }}">Modify</button>
					<button class="btn btn-danger col-md-1 comment-delete" data-order="{{ comment.order }}">Delete</button>
                    {% endif %}
                    {% endif %}
                </div>
			</div>
		</div>
		{% endfor %}
        {% if not post.deleted %}
        <div>
        	<form action="./write/{{querystring}}" method="POST">
            	{% csrf_token %}
                <div class="form-group">
                	<textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-normal col-md-1 col-md-offset-11">Submit</button>
           	</form>
        </div>
        {% endif %}
    </div>   
</div>

{% include "channel/list_core.html" %}
{% include "channel/modal.html" %}
{% endblock %}
