{% extends "base.html" %}

{% block js %}
<script type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="list-group">
    {% for post in post_list %}
        {% if post.channel_content.is_deleted %}
        <a href="#" class="list-group-item disabled">--deleted--</a>
        {% else %}
        <a href="{{ post.id }}" class="list-group-item">{{ post.title }}</a>
        {% endif %}
    {% endfor %}
</div>
<div class="container buttons">
    <a class="btn btn-default" href="write">Write</a>
</div>
{% endblock %}
