{% if comment.like == 0 %}
<li id="comment_{{comment.order}}" class="a-comment-of-list">
{% else %}
<li id="comment_{{comment.order}}" class="a-comment-of-list-highlight">
{% endif %}
	<div class="a-comment-area">
		<span>{{comment.order}}</span>
        {% if comment.hate %}
        <button class="open_comment">열기</button> 
		<div id="hate_content" class="a-comment-content">----------------------반대됨여----------------------</div>
        <div id="hate_comment_content" class="a-comment-content"><span class="span-comment">{{comment.content|safe}}</span></div>
        {% else %}
        <div id="comment_content" class="a-comment-content"><span class="span-comment">{{comment.content|safe}}</span></div>
        {% endif %}
        <div class="a-comment-info">
			<div class="a-comment-author-container">
				<span>{{comment.author.nickname}}</span>
				<span class="a-comment-date">{{comment.created_time}}</span>
			</div>
			<div class="a-comment-vote-container">
				{% if comment.vote_disable %}
        			<button class="vote_up a-comment-vote" disabled> 추천 (+{{comment.like}}) </button>
                    <button class="vote_down a-comment-vote" disabled> 반대 (+{{comment.hate}}) </button>
    			{% else %}
            		<button class="vote_up a-comment-vote"> 추천 (+{{comment.like}})</button>
                    <button class="vote_down a-comment-vote"> 반대 (-{{comment.hate}})</button>
    			{% endif %}
			</div>
		</div>
	</div>
</li>
