<a href="./1"> temp button </a>

 <table cellspacing=1 width=700 border=1>
      <tr>
          <td width=50><p align=center>번호</p></td>
          <td width=100><p align=center>이름</p></td>
          <td width=320><p align=center>제목</p></td>
          <td width=100><p align=center>등록일</p></td>
      </tr>

      {% if grills|length %}
          <ul>
              {% for grill in grills %}
              <tr>
              <td width=50><p align=center>{{ grill.id }}</p></td>
              <td width=100><p align=center>{{ grill.author }}</p></td>
              <td width=320>
                  <p align=center>
                      <a href="./{{grill.id}}">{{ grill.title }}
                  </p>
              </td>
              <td width=100><p align=center>{{ grill.created_at }}</p></td>
              </tr>
              {% endfor %}
          </ul>
      {% else %}
          <p>No Data.</p>
      {% endif %}
  </table>

  <table width=700>
      <tr>
          <td><input type=button value="글쓰기"  OnClick="window.location='./add_grill'">    </td>
      </tr>
  </table>