{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table" width=700>
        <tr>
            <td width=50><p align=center>번호</p></td>
            <td width=100><p align=center>이름</p></td>
            <td width=320><p align=center>제목</p></td>
            <td width=100><p align=center>등록일</p></td>
        </tr>
        {% if grills|length %}
        <ul>
            {% for grill in grills %}
            <tr>
                <td width=50><p align=center>{{ grill.id }}</p></td>
                <td width=100><p align=center>{{ grill.author.nickname }}</p></td>
                <td width=320>
                    <p align=center>
                        <a href="{% url 'view_grill' grill.id %}">{{ grill.title }}</a>
                    </p>
                </td>
                <td width=100><p align=center>{{ grill.created_time }}</p></td>
            </tr>
            {% endfor %}
        </ul>
        {% else %}
        <p>No Data.</p>
        {% endif %}
	</table>
	<div style="text-align: center;">
		<ul class="pagination pagination-sm">
			{% if page_left != 0 %}
			<li><a href="/grill/?page={{page_left}}"">&laquo;</a></li>
			{% endif %}
			{% for page in pages %}
			{% if page == current_page %}
			<li class="active">
			<a href="/grill/?page={{page}}">{{page}}<span class="sr-only"></span></a>
			</li>
			{% else %}
			<li><a href="/grill/?page={{page}}">{{page}}</a></li>
			{% endif %}
			{% endfor %}
			{% if page_right != 0 %}
			<li><a href="/grill/?page={{page_right}}"">&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
    <div class="pull-right">
        <a class="btn btn-default" href="/grill/add_grill/">글쓰기</a>
    </div>
</div>
{% endblock %}
